/* Custom scrollbar styles for Webkit browsers */
::-webkit-scrollbar {
  width: 6px; /* Thin width for vertical scrollbar */
  height: 6px; /* Thin height for horizontal scrollbar */
}

::-webkit-scrollbar-track {
  background: transparent; /* Track background (invisible) */
}

::-webkit-scrollbar-thumb {
  background: transparent; /* Thumb color (invisible) */
  border-radius: 3px; /* Rounded corners for the scrollbar thumb */
  transition: background 0.3s ease; /* Smooth transition for hover effect */
}

::-webkit-scrollbar-thumb:hover {
  background: #888; /* Thumb color on hover */
}

/* Custom scrollbar styles for Firefox */
.scrollbar {
  scrollbar-width: thin; /* Thin scrollbar width */
  scrollbar-color: transparent transparent; /* Thumb and track color (invisible) */
}

.scrollbar:hover {
  scrollbar-color: #888 transparent; /* Thumb and track color on hover */
}

.App {
  height: 100vh; /* Full height */
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../public/Animated\ Shape.svg'); /* Update with the correct path */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.rs-calendar-header-title {
  color: white !important;
  pointer-events: none;
}

.rs-btn{
  color: white !important;
}


.rs-btn:hover{
  color: black !important;
}

.rs-calendar-btn-today{
  color: black !important;
}

.rs-calendar-btn-today:hover{
  color: white !important;
}



