::-webkit-scrollbar {
  width: 6px; /* Thin width for vertical scrollbar */
  height: 6px; /* Thin height for horizontal scrollbar */
}

::-webkit-scrollbar-track {
  background: transparent; /* Track background (invisible) */
}

::-webkit-scrollbar-thumb {
  background: transparent; /* Thumb color (invisible) */
  border-radius: 3px; /* Rounded corners for the scrollbar thumb */
  transition: background 0.3s ease; /* Smooth transition for hover effect */
}

::-webkit-scrollbar-thumb:hover {
  background: #888; /* Thumb color on hover */
}

/* Custom scrollbar styles for Firefox */
.scrollbar {
  scrollbar-width: thin; /* Thin scrollbar width */
  scrollbar-color: transparent transparent; /* Thumb and track color (invisible) */
}

.scrollbar:hover {
  scrollbar-color: #888 transparent; /* Thumb and track color on hover */
}

.App {
  height: 100vh; /* Full height */
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../public/Animated\ Shape.svg'); /* Update with the correct path */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: 'Poppins', sans-serif; 
}



.react-calendar {
  background-color: rgba(255, 255, 255, 0.0) !important; /* Fully transparent background */
  border: none !important; /* Remove border */
  box-shadow: none !important; /* Remove box shadow */
  width: 100% !important;
  height: 100% !important;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.react-calendar__tile {
  background-color: rgba(40, 55, 80, 0.3) !important; /* Slightly transparent tiles */
  
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: rgba(255, 255, 255, 0.2) !important; /* Change on hover/focus */
}


.chakra-calendar {
  width: auto;
  height: 100%; /* Let the height be determined by content */
  display: flex;
  font-weight: bold;
  flex-direction: column;
  justify-content: center;
  font-family: 'Poppins', sans-serif !important; /* Apply Chakra UI default font */
}


/* Navigation label and arrows styles */
.react-calendar__navigation__label {
  font-size: 2rem !important; /* Increase font size */
   /* Adjust this value to decrease the width */
  font-weight: bold !important; /* Make it bold */
   /* Optional: Change the color */
  flex-grow: 0 !important;
  width: 40rem !important; /* Adjust width as needed */
  text-align: center !important; /* Center the text */
  
  
}

.react-calendar__navigation__next2-button {
  display: none !important; /* Hide the next2 button */
}
.react-calendar__navigation__prev2-button {
  display: none !important; /* Hide the next2 button */
}
.react-calendar__navigation__arrow {
  font-size: 2rem !important; /* Increase arrow size */

   /* Optional: Change the arrow color */
}
.react-calendar__navigation{
  
  justify-content: center; /* Center the items horizontally */
 
  height: 7rem !important;
  
  gap: 1rem; /* Optional: Space between navigation elements */
  
}
.react-calendar__navigation__label:hover{
  background-color: rgba(0, 0, 0, 0.1) !important;
}

.react-calendar__navigation__arrow:enabled:hover,
.react-calendar__navigation__arrow:enabled:focus {
  background-color: rgba(0, 0, 0, 0.1) !important; /* Optional: Change background on hover/focus */
   /* Optional: Make the button circular */
}

.react-calendar__navigation__next-button,
.react-calendar__navigation__prev-button {
  width: 7rem !important; /* Adjust width as needed */
}

